#circle1 {
    height: 35px;
    width: 35px;
    background-color:red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 83vh;
    
  }

#circle2 {
    height: 35px;
    width: 35px;
    background-color:blue;
    border-radius: 50%;
    display: inline-block;
    margin-left: 50px;
  }
#circle3 {
    height: 35px;
    width: 35px;
    background-color:yellow;
    border-radius: 50%;
    display: inline-block;
    margin-left: 50px;
  }
#circle4 {
    height: 35px;
    width: 35px;
    background-color:purple;
    border-radius: 50%;
    display: inline-block;
    margin-left: 83vh;
    
  }
#circle5 {
    height: 35px;
    width: 35px;
    background-color:green;
    border-radius: 50%;
    display: inline-block;
    margin-left: 50px;
  }
#circle6 {
    height: 35px;
    width: 35px;
    background-color:orange;
    border-radius: 50%;
    display: inline-block;
    margin-left: 50px;
  }

  .div{
      text-align: center;
      margin: 0 auto;
  }

  IMG.displayed{
    display: block;
    margin-left: auto;
    margin-right: auto }