*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("bg.jpg") no-repeat;
  background-size: cover;
  height: 600px;
  width: 100%;
  position: relative;
  font-size: 1.6rem;
}

body::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background: linear-gradient(to right, #f5af19, #f12711);
  z-index: -1;
}

.container {
  width: 50%;
  background: lightblue;
  box-shadow: 0 15px 30px 0 rgb(0 0 0 / 11%), 0 5px 15px 0 rgb(0 0 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  padding: 20px;
  height: 350px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  animation: enterin 1s ease-in forwards;
}

.container h1 {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}
.container form {
  display: flex;
  flex-direction: column;
  padding: 10px 60px;
}

.container input {
  padding: 10px;
  margin: 10px 0;
  border: 4px solid black;
  border-radius: 1px;
  outline: 0;
}
.btn-center {
  margin: 0 auto;
}

.btn {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 50px;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: #f5af19;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.6rem;
}

.btn span:nth-child(2) {
  color: #f5af19;
  background-color: white;
  overflow: hidden;
  z-index: 2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-clip-path: polygon(60% 0, 100% 0%, 100% 100%, 60% 100%, 40% 53%);
  clip-path: polygon(60% 0, 100% 0%, 100% 100%, 60% 100%, 40% 53%);
}

.btn span:nth-child(2):hover {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 53%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 53%);
}

.btn span:nth-child(1):hover ~ span:nth-child(2) {
  -webkit-clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 50%);
  clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 50%);
}
.link {
  margin: 10px 0;
}
.link a {
  text-decoration: none;
  color: black;
  transition: all 0.3s ease-in-out;
}
.link a:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}

@media screen and (max-width: 720px) {
  html {
    font-size: 60%;
  }
  .container {
    width: 75%;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .container {
    width: 80%;
  }
  .container form {
    padding: 10px 30px;
  }
  .btn {
    width: 120px;
    height: 45px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    letter-spacing: 1px;
  }
}

/* Keyframes of animation */
@keyframes enterin {
  0% {
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

